{% extends "main::container.html" %}

{%block article%}
<article>
    <header>
        <h1>Thèses de l'École nationale des chartes</h1>
    </header>
    <section id="intro-index">
           <p class="texte">Ce site est dédié aux thèses
soutenues par les élèves de l'École nationale
des  chartes. La thèse pour le diplôme d'archiviste paléographe
est un travail de recherche privilégiant l'exploration
des champs spécifiques aux enseignements de l'École :</p>

<ul>
<li>Histoire et étude critique des sources historiques ;</li>
<li>Philologie et édition de textes ;</li>
<li>Patrimoine documentaire, écrit et gravé ;</li>
<li>Patrimoine artistique et monumental.</li>
</ul>
<p>Ces travaux de recherche sont encadrés par les professeurs
de l'École ainsi que par des universitaires, des chercheurs et
des
conservateurs.
Certaines thèses donnent lieu à des publications
(<a href="http://www.enc.sorbonne.fr/toutes-les-collections?field_collectionedition_value=All&amp;field_theme_value=All&amp;field_periodehistorique_value=All#">monographies</a> ou articles). Sous leur forme dactylographiée, elles sont
conservées
aux Archives nationales et leur consultation est soumise à une
<a href="licence">réglementation</a>. Les thèses
font l'objet de résumés détaillés
et rédigés
par les auteurs, appelés positions de thèses qui
donnent lieu, chaque année, à <a href="http://www.enc.sorbonne.fr/positions-des-theses">la
publication d'un recueil
par l'École des chartes</a>. Le
texte des positions de thèses est librement et gratuitement
consultable sur ce site depuis 2000.</p>

    </section>
    <footer>

    </footer>
</article>
{%endblock%}